@font-face {
  font-family: "caslon";
  src: url("/font/caslon.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "minion";
  src: url("/font/minion.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "caslon";
}
ul > * {
  cursor: pointer;
  font-family: "minion";
  
}
