@font-face {
  font-family: "minion";
  src: url("/font/minion.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "caslon";
  src: url("/font/caslon.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
ul > a {
  font-family: "caslon";
  text-align: start;
}
a {
  font-family: "caslon";
  line-height: normal;
  letter-spacing: 3.6;
  text-align: center;
  font-size: 18px;
}
body {
  font-family: "caslon";
}
.backLink::before{
  content: "â†";
  margin-right: 5px;
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
.sectionTitle{
  font-size: calc((3.2 - 1) * 1.2vw + 1rem);
}
.highlightSection{
  padding-top: calc(12vmax / 10);
padding-bottom: calc(12vmax / 10);
}
.card{
  position: relative;
  overflow: hidden;
}
.card>.description{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  transition:all ease-in-out 0.3s;
  height: 0;
   display: flex;
  flex-direction: column;
}
.card:hover>.description{
  height: 30%;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  color:white;
 
}