@font-face {
  font-family: "minion";
  src: url("/font/minion.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "caslon";
  src: url("/font/caslon.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
ul > a {
  font-family: "caslon";
  text-align: start;
}
a {
  font-family: "caslon";
  line-height: normal;
  letter-spacing: 3.6;
  text-align: center;
  font-size: 18px;
}
body {
  font-family: "caslon";
}
.backLink::before{
  content: "←";
  margin-right: 5px;
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}